---
import type { InferGetStaticPropsType } from "astro";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import type { getStaticPaths } from "@pages/recipes/[slug].astro";

import { parseIngredients } from "@utils/getContentfulValues";
import RecipeColumn from "@components/RecipeColumn.astro";
import type { Recipe } from "types";

export type RecipeProps = InferGetStaticPropsType<typeof getStaticPaths>;
export type ParsedIngredients = ReturnType<typeof parseIngredients>;

const { description, title, image, ingredients } = Astro.props;
const translatedIngredients = parseIngredients(ingredients);
---

<Layout title={title.en} navOptions={{ showHome: true, showRecipes: true }}>
  <Container class="">
    <article class="prose prose-headings:underline prose-img:rounded-xl">
      <Image
        src={image.src}
        alt={image.alt}
        width={700}
        height={1000}
        class="shadow-2xl border-2 border-primary p-2"
      />
      <div class="flex">
        <RecipeColumn
          description={description.en}
          iconVariant="en"
          ingredients={translatedIngredients.en}
          title={title.en}
        />
        <RecipeColumn
          description={description.pl}
          iconVariant="pl"
          ingredients={translatedIngredients.pl}
          title={title.pl}
        />
      </div>
    </article>
  </Container>
</Layout>
