---
import Layout from "@layouts/Layout.astro";
const {
  description,
  title: { pl, en },
} = Astro.props;
---

<Layout title={pl}>
  <h1>{pl} | {en}</h1>
  <article class="prose lg:prose-xl" set:html={description.pl} />
  <hr />
  <article class="prose lg:prose-xl" set:html={description.en} />
</Layout>
